| Имя  | Возраст | Город  |
|------|---------|--------|
| Анна | 25      | Москва |
| Иван | 30      | Казань |